# Code alongs - python fundamentals 1

In [1]:
my_fruits=input()
print(f"I like to eat {my_fruits}")

I like to eat apple

In [2]:
age=input("Give me your age")
print(f"In 5 years you will be {age+5}")

TypeError: can only concatenate str (not "int") to str

In [3]:
#tuple
# in jupiter: the __repr__ of the object instance is outputted for the last line
age, type(age)

('4', str)

In [5]:
age = 40
loves_math=True
type(age), age, type(loves_math)

(int, 40, bool)

In [6]:
print(f"{loves_math= }")

loves_math= True

## Collections
- list 
- tuples
- sets
- dictionsry

In [9]:
interests = ["badminton", "yoga", "math", "prograamming"]

person = ["Irina", 40, True]
person

['Irina', 40, True]

In [10]:
type(person), type(person[1])

(list, int)

In [11]:
interests[1:3]

['yoga', 'math']

In [13]:
interests[-1], interests[::-1]

('prograamming', ['prograamming', 'math', 'yoga', 'badminton'])

In [16]:
person.append(interests)
person

['Irina', 40, True, ['badminton', 'yoga', 'math', 'prograamming']]

In [17]:
person[-1][-2], person[-1][-2][::-1]

('math', 'htam')

In [20]:
persons_interests = person[-1]
persons_interests[-2]

'math'

In [24]:
import imghdr

# pythonic - idomatic python
for interest in persons_interests:
    print(interest)

# java:
# for (int i=0: i<persons_interests.leght; i++){
 #   System.out.print(persont_innerests[imghdr])}

print("\nDon't do this")
for i in range(len(persons_interests)):
    print(persons_interests[i])

badminton
yoga
math
prograamming

Don't do this
badminton
yoga
math
prograamming

In [25]:
#not pythonic
for i in range(len(persons_interests)):
    print(i+1, persons_interests[i])

1 badminton
2 yoga
3 math
4 prograamming

In [27]:
#pythonic
for i, interest in enumerate(persons_interests, 1):
    print(i, interest)

1 badminton
2 yoga
3 math
4 prograamming

### List ccreation
- append
- list comprehention

In [29]:
numbers =[]

for i in range(10):
    numbers.append(i)
    
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
squares=[i**2 for i in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
# i%2 is truthy when i is odd, and falsey when i is even
odd_numbers_squared=[i**2 for i in numbers if i%2]
odd_numbers_squared

[1, 9, 25, 49, 81]

## Dictionary
- key: value pairs

In [37]:
courses = {
    "pyhton": 40, 
    "agile": 15, 
    "sql": 30,
    "data_platform": 40, 
    "data_modeling": 30, 
    "visualisation": 40
}
courses

{'pyhton': 40,
 'agile': 15,
 'sql': 30,
 'data_platform': 40,
 'data_modeling': 30,
 'visualisation': 40}

In [38]:
courses.keys()

dict_keys(['pyhton', 'agile', 'sql', 'data_platform', 'data_modeling', 'visualisation'])

In [39]:
len(courses.keys())

6

In [40]:
courses.values()

dict_values([40, 15, 30, 40, 30, 40])

In [42]:
for course in courses:
    print(course, courses[course])

pyhton 40
agile 15
sql 30
data_platform 40
data_modeling 30
visualisation 40

In [48]:
print(f"{'Course':<20} Points")
for course, points in courses.items():
    print(f"{course:<20} {points}")

Course               Points
pyhton               40
agile                15
sql                  30
data_platform        40
data_modeling        30
visualisation        40

## Strings

In [55]:
ml_term="sUperVised   Learning  "

In [56]:
" ".join(ml_term.strip().split()).lower()

'supervised learning'